/* GENERAL STYLING */
body {
  background-color: black;
  font-family: 'Chelsea Market', cursive;
  color: #5A8569;
  display: flex;
  height: 100vh;
}

h1,
h2,
h3,
p {
  background-color: white;
  display: flex;
  justify-content: center;
}

/* LEFT AND RIGHT SCORE PANELS STYLING */
.asides {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.9;
}

.left-aside {
  background-image: url("./assets/WHEEL_INVERSE.png");
  background-repeat: no-repeat;
  background-size: 165%;
  background-position: center;
}

.right-aside {
  background-image: url("./assets/WHEAT_INVERSE.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

h2,
p {
  border: 2px solid #9F8001;
  border-radius: 10px;
  padding: 3%;
}

h2 {
  font-size: 30px;
  margin: 5%;
}

p {
  color: #9F8001;
  font-size: 100px;
  margin: 5% 25%;
}

/* CENTER SECTION / GAMEBOARD STYLING */
.center-main {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  background-color: black;
  color: #5A8569;
  font-size: 50px;
  margin-bottom: 1%;
  margin-top: 3%;
}

h3 {
  border: 2px solid #9F8001;
  border-radius: 10px;
  font-size: 20px;
  margin: 1% auto;
  padding: 1% 8%;
}

.winner {
  color: #784226;
}

.hidden {
  display: none;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 480px;
  width: 480px;
  margin: 5% auto;
}

.game-square {
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}

.four {
  border: 5px solid #9F8001;
}

.one,
.seven {
  border-left: 5px solid #9F8001;
  border-right: 5px solid #9F8001;
}

.three,
.five {
  border-top: 5px solid #9F8001;
  border-bottom: 5px solid #9F8001;
}

.hover {
  cursor: pointer;
}

img {
  height: 100px;
}

.notVisible {
  visibility: hidden;
}

button {
  background-color: white;
  color: #5A8569;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  margin: 1% auto;
  padding: 1% 6%;
}
